* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    text-align: center;
}
.entire__page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;

}

.main__position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 101.625rem;
}


h2 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 6.25rem;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

header {
    border:;
}


.header__inner {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 8.125rem;

}
.inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: rgba(8, 166, 228, 1);
    text-decoration: none;
    margin-left: 8.5rem;
    align-self: center;

}

.menu {
    display: flex;
    align-items: center;
}

.menu .menu__item {
    font-family: "Open Sans", sans-serif;
    font-size: .6875rem;
    font-weight: 700;
    text-decoration: none;
    color: rgba(165, 165, 165, 1);
    letter-spacing: 0.205rem;
    min-width: 10.625rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    width: 100%;
    text-align: center;
}

.menu .menu__item.menu__item--active, .menu .menu__item:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: .25rem solid rgba(8, 166, 228, 1);

}

.intro {
    min-height: 44.5rem;
    display: flex;
    justify-content: flex-start;
    background-image: url(../images/background.png);
    background-position: -3.40625rem 12.25rem;
    background-repeat: no-repeat;
    margin-bottom: 4.5rem;
}
.intro__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.intro .intro__hdl {
    font-family: "Raleway", sans-serif;
    font-size: 3.0625rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    margin-top: 0;
}
.intro .intro__lead {

    margin-bottom: 2.375rem ;
}

.intro .intro__img {
    width: 100%;
    max-width: 101.625rem;

    height: 37.125rem;
    /*background-image: url('../images/background.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 37.125rem;
    margin-left: -4.40625rem;


}

.btn {
    text-decoration: none;
    font-family: "Open Sans", sans-serif ;
    font-weight: 700;
    padding: 1rem 4rem;
    background-color: grey;

}

.btn__intro {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    border-radius: 2.5rem;
    padding: 1.375rem 9.8125rem;
    background-color: rgba(8, 166, 228, 1);
}

.stats {
    margin-bottom: 21.25rem;

}

.stats {
    background-color: rgba(255, 255, 255, 1)
    box-shadow: 0 -.3125rem 5rem rgba(0, 0, 0, 0.16);
}

.stats .stats__inner {
    width: 100%;

}
.stats .stats__hdl {}

.stats .stats__box {
    display: flex;
    gap: 11.4375rem;
    justify-content: center;

}
.stats .stats__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
}
.stats .stats__img--holder {
    display: flex;
    flex-direction: row;
}
.stats .before__stats__img{
    content: ' ';
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;

}

.stats .stats__img {
    z-index: 10;
    transform: translateX(-70%);
}

.stats .before__stats__img.before__stats__img--Person {
    background-color: rgba(251, 59, 100, 1);
}

.stats .before__stats__img.before__stats__img--Eye {
    background-color: rgba(8, 166, 228, 1);
}

.stats .before__stats__img.before__stats__img--Catalog {
    background-color: rgba(85, 223, 180, 1);
}

.stats .stats__info__hdl {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
}
.stats .stats__info {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(165, 165, 165, 1);
    text-align: center;
    margin: 0;

}

.shop__advantage {
    margin-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding-top: 50px;
}
.shop__advantage__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 70.25rem;
}
.shop__advantage .shop__advantage__col {

    display: flex;
    width: 100%;
    max-width: 70.25rem;
    min-height: 23.155rem;
    height: 100%;
    background-color: white;
    padding-inline: 20px;
    margin-bottom: 50px;

}
.shop__advantage__col--reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
}


.shop__advantage .shop__advantage__col--inner {
    display: flex;
    flex-direction: column;
    max-height: 14.375rem;
    width: 55%;

}



.shop__advantage__col--inner.first::after {
    content: ' ';
    border-bottom: .35rem solid rgba(251, 59, 100, 1);
    max-width: 20.4375rem;
}
.shop__advantage__col--inner.second::after {
    content: ' ';
    border-bottom: .35rem solid rgba(8, 166, 228, 1);
    max-width: 20.4375rem;
}
.shop__advantage__col.third {
    gap: 60px;
    background-color: #F7F7F7;
    padding-right: 0;
}
.shop__advantage__col--inner.third::after {
    content: ' ';
    border-bottom: .35rem solid rgba(85, 223, 180, 1);
    max-width: 20.4375rem;
}



.shop__advantage__hdl {
    text-align: left;
    margin-bottom: 1.875rem;
    margin-top: 91px;
}

p.shop__advantage__lead {
    text-align: left;
    margin-bottom: 3.125rem;
}
.shop__advantage--image__holder {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding-top: 20px ;
    background-color: white;
}
.shop__advantage--image__holder.trumpet {
    background-color: #55DFB4;
    padding: 0;

}
.shop__advantage--under__laptop {
    position: absolute;
    top: 100px;
    left: -190px;
    content: ' ';
    width: 11.25rem;
    height: 11.25rem;
    background-color: rgba(251, 59, 100, 1);
    border-radius: 2.5625rem;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 400, -50);
}

.shop__advantage__img--macbook {
    position: relative;
    width: 24.1525rem;
    height: 13.6875rem;
    z-index: 10;


}
.shop__advantage--under__iphone {
    position: absolute;
    content: ' ';
    width: 20rem;
    height: 20rem;
    background-color: rgba(8, 166, 228, 1);
    border-radius: 50%;
    left: 71px;
}
.shop__advantage__img--iphone {
    position: absolute;
    width: 426px;
    height: 327px;
    left: 70px;
}
.shop__advantage .shop__advantage__img--trumpet {
    width: 295x;
    height: 207px;
    background-color: #55DFB4;
}

.buy__option {}

.buy__option .buy__option_inner {
    display: flex;
    flex-direction: column;
    gap: 3.6875rem;
    justify-content: center;
    margin-bottom: 9.6875rem;
}

.buy__option .buy__option__box {
    display: flex;
    flex-direction: row;
    gap: 3.625rem;
    justify-content: center;
}

.buy__option .buy__option__col {
    display: flex;
    flex-direction: column;
    width: 23.25rem;
    max-height: 26.61rem;
    border: 0.0625rem solid rgba(251, 59, 100, 1);
    border-radius: 1.125rem;
    height: 100%;
}

h2.buy__option__hdl {
    margin-bottom: 4.4375rem;
}
.buy__option__col__hdl {
    font-size: 1.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.buy__option .price {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: rgba(251, 59, 100, 1);
}
.buy__option .price--professional {
    color: rgba(7, 172, 230, 1);
}
.buy__option .price--premium {
    color: rgba(85, 223, 180, 1);
}
ul {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
li {

    list-style-type: none;
    line-height: 2.25rem;
    text-align: center;

}
li:before {
    content: "\2713";
    color: rgba(85, 223, 180, 1);
    border: .0625rem solid rgba(85, 223, 180, 1);
}
li.negative:before {
    content: "x";
    color: rgba(235, 71, 110, 1);
    border: .0625rem solid rgba(235, 71, 110, 1);
}

